<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/page.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>

<body class="page">
@RenderBody()
</body>

</html>