.withdraw__notice_validation {
    font-size: 14px;
    font-weight: 600;
    color: #434C52;
}

.withdraw__notice_validation em {
    color: red;
    font-style: inherit;
}

.withdraw__notice_validation em::before {
    content: "*";
}
