/*
    
    ('__toolbar/transactions-overview__toolbar-section.css');
@import url('__toolbar/transactions-overview__toolbar.css');
@import url('__toolbar/transactions-overview__toolbar-button.css');

@import url('__session/transactions-overview__session-info.css');
@import url('__session/transactions-overview__session-info-date.css');
@import url('__session/transactions-overview__session-info-account.css');

@import url('__finance/transactions-overview__finance-section.css');

@import url('__balance/transactions-overview__balance-label.css');
@import url('__balance/transactions-overview__balance-deposits-section.css');
@import url('__balance/transactions-overview__balance-label-group.css');
@import url('__balance/transactions-overview__balance-section.css');
@import url('__balance/transactions-overview__balance-label_working-balance.css');
@import url('__balance/transactions-overview__balance-value.css');

@import url('__withdrawals/transactions-overview__withdrawals-section.css');
@import url('__withdrawals/transactions-overview__withdrawals-total.css');
@import url('__withdrawals/transactions-overview__withdrawals-table.css');

@import url('__back/transactions-overview__back-button.css');
@import url('__back/transactions-overview__back-button-container.css');

@import url('__deposits/transactions-overview__deposits-section.css');
@import url('__deposits/transactions-overview__deposits.css');
@import url('__deposits/transactions-overview__deposits-table.css');
@import url('__deposits/transactions-overview__deposits-cash.css');
@import url('__deposits/transactions-overview__deposits-cheque.css');

@import url('__table/transactions-overview__table-header.css');
@import url('__table/transactions-overview__table-item.css');
@import url('__table/transactions-overview__table-caption.css');
@import url('__table/transactions-overview__table-label.css');
@import url('__table/transactions-overview__table-total.css');

@import url('__header/transactions-overview__header-amount.css');
@import url('__header/transactions-overview__header-notes.css');
@import url('__header/transactions-overview__header-payee.css');
@import url('__header/transactions-overview__header-payment.css');

@import url('__item/transactions-overview__item-notes.css');
@import url('__item/transactions-overview__item-payee.css');
@import url('__item/transactions-overview__item-payment.css');
@import url('__item/transactions-overview__item-notes-label.css');
@import url('__item/transactions-overview__item-amount-withdrawal.css');
@import url('__item/transactions-overview__item-amount-deposit.css');
@import url('__item/transactions-overview__item-amount-deposit.css');
@import url('__item/transactions-overview__item-cheque.css');
@import url('__item/transactions-overview__item-bank.css');*/


.transactions-overview {
    display: flex;
    flex-direction: column;
    height: 74.5vh;
}
