@model List<TransactionResponse?>

@section styles{
    <link href="~/desktop.blocks/transactions-overview/transactions-overview.css" rel="stylesheet" type="text/css" />
    <script src="~/desktop.blocks/transactions-overview/transactions-overview.js" async defer></script>
    <script src="~/common.blocks/form-group/form-group__input_date.js" async defer></script>
    <script src="~/common.blocks/transaction-controller/transaction-controller.js" async defer></script>
    <script src="~/common.blocks/overlay/overlay.js" async defer></script>
}

<main class="main transactions-overview transaction-controller">

    <section class="transactions-overview__toolbar-section ">
        <section class="transactions-overview__session-info">
            <div class="transactions-overview__session-info-date">June 19, 2024</div> @* date selected sa calendar *@
            <div class="transactions-overview__session-info-account"> RCBC WINZYL C OLVIDO  9039000000 </div>
        </section>

        <div class="transactions-overview__toolbar transaction-toolbar">
            <button data-accountId="@ViewBag.AccountId" data-date="@ViewBag.Date" class="transactions-overview__deposit-button transactions-overview__toolbar-button button transaction-controller__button transaction-controller__button_deposit">Add Cash / Check Deposit</button>
            <button data-accountId="@ViewBag.AccountId" data-date="@ViewBag.Date" class="transactions-overview__withdraw-button transactions-overview__toolbar-button button transaction-controller__button transaction-controller__button_withdraw">Add Check Issuance / Cash Withdrawal</button>
        </div>
    </section>

    <section class="transactions-overview__finance-section">

        <section class="transactions-overview__balance-deposits-section">

            <section class="transactions-overview__balance-section">
                <div class="transactions-overview__balance-label-group">
                    <label class="transactions-overview__balance-label transactions-overview__balance-label_working-balance">Working Balance</label>
                    <textarea readonly class="transactions-overview__balance-value transactions-overview__balance-value_total" maxlength="25">0.00</textarea>
                </div>

                <div class="transactions-overview__balance-label-group">
                    <label class="transactions-overview__balance-label">Total Deposits for the Day</label>
                    <textarea readonly class="transactions-overview__balance-value transactions-overview__balance-value_deposit" maxlength="25">828,532.11</textarea>
                </div>

                <div class="transactions-overview__balance-label-group">
                    <label class="transactions-overview__balance-label">Total Withdrawals for the Day</label>
                    <textarea readonly class="transactions-overview__balance-value transactions-overview__balance-value_withdraw" maxlength="25">777,657.46</textarea>
                </div>
            </section>

            <div class="transactions-overview__back-button-container">
                <a href="/" class="transactions-overview__back-button button button_cancel button_link"> Back To Calendar </a>
            </div>

            <section class="transactions-overview__deposits-section">

                <section class="transactions-overview__deposits-cash">
                    <partial name="~/Views/Shared/TransactionTables/_CashDepositTransactionsTablePartial.cshtml"></partial>
                    @* deposit cash table *@
                </section>

                <section class="transactions-overview__deposits-cheque">
                    <partial name="~/Views/Shared/TransactionTables/_ChequeDepositTransactionsTablePartial.cshtml"></partial>
                    @* deposit cheque table *@
                </section>

            </section>

        </section>

        <section class="transactions-overview__withdrawals-section">
            <partial name="~/Views/Shared/TransactionTables/_WithdrawalTransactionsTablePartial.cshtml"></partial>
            @* withdrawals table *@
        </section>

    </section>

    <section class="overlay transactions-overview__deposit_overlay transaction-controller__overlay transaction-controller__overlay_deposit">
        @* deposit *@
    </section>

    <section class="overlay transactions-overview__withdraw_overlay transaction-controller__overlay transaction-controller__overlay_withdraw">
        @* withdraw *@
    </section>

</main>