@import url('__toolbar/account-overview__toolbar-section.css');
@import url('__toolbar/account-overview__toolbar.css');
@import url('__toolbar/account-overview__toolbar-button.css');

@import url('__session/account-overview__session-info.css');
@import url('__session/account-overview__session-info-date.css');
@import url('__session/account-overview__session-info-account.css');

@import url('__finance/account-overview__finance-section.css');

@import url('__balance/account-overview__balance-label.css');
@import url('__balance/account-overview__balance-deposits-section.css');
@import url('__balance/account-overview__balance-label-group.css');
@import url('__balance/account-overview__balance-section.css');
@import url('__balance/account-overview__balance-label_working-balance.css');
@import url('__balance/account-overview__balance-value.css');

@import url('__withdrawals/account-overview__withdrawals-section.css');
@import url('__withdrawals/account-overview__withdrawals-total.css');
@import url('__withdrawals/account-overview__withdrawals-table.css');

@import url('__back/account-overview__back-button.css');
@import url('__back/account-overview__back-button-container.css');

@import url('__deposits/account-overview__deposits-section.css');
@import url('__deposits/account-overview__deposits.css');
@import url('__deposits/account-overview__deposits-table.css');
@import url('__deposits/account-overview__deposits-cash.css');
@import url('__deposits/account-overview__deposits-cheque.css');

@import url('__table/account-overview__table-header.css');
@import url('__table/account-overview__table-item.css');
@import url('__table/account-overview__table-caption.css');
@import url('__table/account-overview__table-label.css');
@import url('__table/account-overview__table-total.css');

@import url('__header/account-overview__header-amount.css');
@import url('__header/account-overview__header-notes.css');
@import url('__header/account-overview__header-payee.css');
@import url('__header/account-overview__header-payment.css');

@import url('__item/account-overview__item-notes.css');
@import url('__item/account-overview__item-payee.css');
@import url('__item/account-overview__item-payment.css');
@import url('__item/account-overview__item-notes-label.css');
@import url('__item/account-overview__item-amount-withdrawal.css');
@import url('__item/account-overview__item-amount-deposit.css');
@import url('__item/account-overview__item-amount-deposit.css');
@import url('__item/account-overview__item-cheque.css');
@import url('__item/account-overview__item-bank.css');


.account-overview {
    display: flex;
    flex-direction: column;
    height: 74.5vh;
}
