@section styles {
    <link href="~/desktop.blocks/authentication/authentication.css" rel="stylesheet" type="text/css" />
}



<main>
    <form class="authentication" asp-controller="Home" asp-action="Index" method="get">

@*         <div class="authentication__error authentication__error_active">
            
        </div> *@

        <img class="authentication__logo" src="~/desktop.blocks/authentication/BMS-Logo.png" />

        <div class="authentication__header-container">
            <header class="authentication__header">
                Accounts Overview System
            </header>
            <div class="authentication__version">
                version 0.9.2
            </div>
        </div>

        <div>
            <fieldset class="authentication__fieldset">
                <span class="authentication__field-details">
                    <label class="authentication__label" for="code">Access Code</label>
                    <a class="authentication__change" href="">Change?</a>
                </span> 

                <input class="authentication__input" id="code" type="password" />

                <button class="authentication__button">Sign in</button>
            </fieldset>
        </div>


    </form>


</main>



