@model LoginViewModel

<main>
    <form asp-controller="Authentication" asp-action="Authentication" method="post" class="authentication">

        <div asp-validation-summary="All" class="authentication__error authentication__error_active">
        </div>

        <img class="authentication__logo" src="~/desktop.blocks/authentication/fundpulse-tracker-logo.png" />

        <div class="authentication__header-container">
            <header class="authentication__header">
                Financial Management System
            </header>
            <div class="authentication__version">
                version 0.9.5
            </div>
        </div>

        <div>
            <fieldset class="authentication__fieldset">

                <div class="form-group">
                    <span class="authentication__field-details">
                        <label class="authentication__label" for="code">Username</label>
                        <a class="authentication__change" href="">Change?</a>
                    </span>
                    <input asp-for="Username" class="authentication__input" />
                </div>

                <div class="form-group">
                    <span class="authentication__field-details">
                        <label class="authentication__label" for="code">Password</label>
                    </span>
                    <input asp-for="Password" class="authentication__input" />
                </div>

                <div class="form-group form-group_checkbox">
                    <input asp-for="KeepLoggedIn" type="checkbox" class="authentication__checkbox" />
                    <label class="authentication__label">Keep me logged in</label>
                </div>
               
                <button type="submit" class="authentication__button">Sign in</button>
            </fieldset>
        </div>



    </form>

</main>



