*.vsidx
*.cache
*.props
*.target
appsettings.json
bin/
.vs/
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.AssemblyInfo.cs
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.AssemblyInfo.cs
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.GeneratedMSBuildEditorConfig.editorconfig
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.GlobalUsings.g.cs
BmsKhameleon.Infrastructure/obj/BmsKhameleon.Infrastructure.csproj.nuget.dgspec.json
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.AssemblyInfo.cs
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.GlobalUsings.g.cs
BmsKhameleon/obj/BmsKhameleon.UI.csproj.nuget.dgspec.json
BmsKhameleon/obj/Debug/net8.0/BmsKhameleon.UI.GeneratedMSBuildEditorConfig.editorconfig
BmsKhameleon/obj/Debug/net8.0/BmsKhameleon.UI.GlobalUsings.g.cs
BmsKhameleon/obj/Debug/net8.0/project.razor.vs.bin
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.AssemblyInfo.cs
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.AssemblyInfo.cs
.vs/BmsKhameleonSolution/DesignTimeBuild/.dtbcache.v2
.vs/BmsKhameleonSolution/v17/.futdcache.v2
.vs/BmsKhameleonSolution/v17/.suo
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.dll
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.pdb
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.sourcelink.json
BmsKhameleon.Infrastructure/obj/Debug/net8.0/ref/BmsKhameleon.Infrastructure.dll
BmsKhameleon.Infrastructure/obj/Debug/net8.0/refint/BmsKhameleon.Infrastructure.dll
BmsKhameleon/obj/Debug/net8.0/ref/BmsKhameleon.UI.dll
BmsKhameleon/obj/Debug/net8.0/refint/BmsKhameleon.UI.dll
BmsKhameleon/obj/Debug/net8.0/staticwebassets.build.json
BmsKhameleon/obj/Debug/net8.0/staticwebassets.development.json
BmsKhameleon/obj/Debug/net8.0/staticwebassets.pack.json
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.AssemblyInfo.cs
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.AssemblyInfo.cs
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.AssemblyInfo.cs
.vs/BmsKhameleonSolution/v17/.suo
/BmsKhameleon.Infrastructure/obj/Debug
.vs/BmsKhameleonSolution/DesignTimeBuild/.dtbcache.v2
/.vs/BmsKhameleonSolution/v17
/BmsKhameleon.Core/obj/Debug/net8.0
/BmsKhameleon/obj/Debug/net8.0
/BmsKhameleon.Core/obj/Debug/net8.0
/.vs/BmsKhameleonSolution/v17
/.vs/BmsKhameleonSolution/DesignTimeBuild
/.vs/BmsKhameleonSolution/DesignTimeBuild
/.vs/BmsKhameleonSolution/v17
/.vs/BmsKhameleonSolution/v17
/BmsKhameleon.Core/obj/Debug
/.vs/BmsKhameleonSolution/DesignTimeBuild
/BmsKhameleon.Infrastructure/obj/Debug
*.dll
.vs/BmsKhameleonSolution/DesignTimeBuild/.dtbcache.v2
.vs/BmsKhameleonSolution/v17/.futdcache.v2
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.dll
BmsKhameleon.Core/obj/Debug/net8.0/BmsKhameleon.Core.pdb
BmsKhameleon.Core/obj/Debug/net8.0/ref/BmsKhameleon.Core.dll
BmsKhameleon.Core/obj/Debug/net8.0/refint/BmsKhameleon.Core.dll
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.AssemblyInfo.cs
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.dll
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.pdb
BmsKhameleon.Infrastructure/obj/Debug/net8.0/BmsKhameleon.Infrastructure.sourcelink.json
BmsKhameleon.Infrastructure/obj/Debug/net8.0/ref/BmsKhameleon.Infrastructure.dll
BmsKhameleon.Infrastructure/obj/Debug/net8.0/refint/BmsKhameleon.Infrastructure.dll
BmsKhameleon/obj/Debug/net8.0/BmsKhameleon.UI.dll
BmsKhameleon/obj/Debug/net8.0/BmsKhameleon.UI.pdb
/.vs/BmsKhameleonSolution/v17
/BmsKhameleon/Properties/PublishProfiles
BmsKhameleon/Properties/PublishProfiles/winzyl-001-site1 - Web Deploy.pubxml.user
/BmsKhameleon.Infrastructure/Migrations
