<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/common.blocks/common-blocks.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.validate.unobtrusive.min.js" defer></script>
    @RenderSection("styles", false)
</head>

<body class="page page_authentication">
@RenderBody()
</body>

</html>