<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link href="~/common.blocks/common-blocks.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.validate.unobtrusive.min.js" defer></script>
    <script src="~/lib/moment/moment.js" defer> </script>

    @await RenderSectionAsync("styles", false)
</head>

<body class="page">
    <header class="header">
        <div class="header__main">
            <a asp-controller="Home" asp-action="Index">
                <img class="header__logo" src="~/common.blocks/header/BMS-Logo.png" />
            </a>

            <div class="header__toolbar">
                <button class="header__button header__button_small button button_green">Admin</button>
                <button class="header__button header__button_small button button_green">User Manual</button>
                <form method="get">
                    <button asp-controller="Authentication" asp-action="Authentication" class="header__button button">Log Out</button>
                </form>
                
            </div>

        </div>

        <div class="header__details">
            <span class="header__user-details">Welcome <strong class="header__username">User</strong> </span>
            <time class="header__time" datetime="@DateTime.Now">@DateTime.Now</time>
        </div>
    </header>
    @RenderBody()
</body>

</html>
