@import url('accounts/accounts__add-accounts.css');

@import url('accounts/accounts__toolbar.css');
@import url('accounts/accounts__table.css');
@import url('accounts/accounts__header.css');

@import url('accounts/accounts__content.css');

@import url('accounts/accounts__item.css');

@import url('accounts/__item/accounts__item-bank.css');
@import url('accounts/__item/accounts__item-payor.css');
@import url('accounts/__item/accounts__item-balance.css');
@import url('accounts/__item/accounts__item-account.css');
@import url('accounts/__item/accounts__item-buttons.css');
@import url('accounts/__item/accounts__item-button.css');
@import url('accounts/__item/accounts__item-icon.css');

@import url('accounts/__header/accounts__header-bank.css');
@import url('accounts/__header/accounts__header-payor.css');
@import url('accounts/__header/accounts__header-balance.css');
@import url('accounts/__header/accounts__header-account.css');
@import url('accounts/__header/accounts__header-button.css');
@import url('accounts/__header/accounts__header-icon.css');

@import url('accounts/accounts__search.css');

@import url('accounts/__search/accounts__search-filter.css');
@import url('accounts/__search/accounts__search-form.css');
@import url('accounts/__search/accounts__search-input.css');
@import url('accounts/__search/accounts__search-button.css');
@import url('accounts/__search/accounts__search-icon.css');

.accounts {
    width: 100%;
    height: calc(100% - 64.5px);
    display: flex;
    flex-direction: column;
}