@media only screen and (orientation: portrait) and (max-width: 480px) {
    .transactions-overview__toolbar-button {
        /*    width: 365px;*/
        /*    width: 48%;*/

        flex: 1 1 50%;
        width: 157px;
        font-size: 14px;
    }
}
