@model AccountCreateRequest

<form method="post">
    <section class="accounts__modify popup popup_modify">

        <header class="popup__header">
            Add Bank Account
        </header>

        <div class="popup__content notice">
            <div class="notice__validation" asp-validation-summary="All">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
        </div>

        <fieldset class="accounts__modify-fieldset popup__content">

            <div class="accounts__modify-form-group form-group">
                <div asp-validation-for="AccountName"></div>
                <label class="accounts__modify-label form-group__label">Account Name (Payor)</label>
                <input asp-for="AccountName" class="accounts__modify-payor form-group__input" placeholder="Alice Gou" />
            </div>

            <div class="accounts__modify-form-group form-group">
                <label asp-validation-for="BankName" class="accounts__modify-label form-group__label">Bank Name</label>
                <input asp-for="BankName" class="accounts__modify-bank form-group__input" type="text" placeholder="Union Bank" />
            </div>

            <div class="accounts__modify-form-group form-group">
                <label asp-validation-for="AccountNumber" class="accounts__modify-label form-group__label">Account Number</label>
                <input asp-for="AccountNumber" class="accounts__modify-account-number form-group__input" type="text" placeholder="1234567890" />
            </div>

            <div class="accounts__modify-form-group form-group">
                <label asp-validation-for="AccountType" class="accounts__modify-label form-group__label">Account Type</label>
                <select asp-for="AccountType" class="accounts__modify-account-type form-group__input form-group__input_select">
                    <option>Savings Account</option>
                    <option>Checking Account</option>
                    <option>Joint Account</option>
                    <option>Payroll</option>
                </select>
            </div>

            <div class="accounts__modify-form-group form-group">
                <label asp-validation-for="BankBranch" class="accounts__modify-label form-group__label">Bank Branch of Account</label>
                <input asp-for="BankBranch" class="accounts__modify-branch form-group__input" type="text" placeholder="Makati" />
            </div>

            <div class="accounts__modify-form-group form-group">
                <label asp-validation-for="InitialBalance" class="accounts__modify-label accounts__modify-label_balance form-group__label">Initial Balance to Enroll @DateTime.Now</label>
                <input asp-for="InitialBalance" class="accounts__modify-balance form-group__input form-group__input_value-bold" type="text" placeholder="123456.78" />
            </div>

            <div>
                <fieldset class="form-group radio-controls">
                    <legend class="form-group__label">Bank Account Visibility</legend>

                    <div class="radio-controls__group ">
                        <input asp-for="Visibility" type="radio" class="radio-controls__radio" name="visibility" value="true" checked/>
                        <div class="radio-controls__label-group">
                            <label asp-validation-for="AccountName" class="radio-controls__label">Shared </label>
                            <span>All users with active access code can access</span>
                        </div>
                    </div>

                    <div class="radio-controls__group">
                        <input asp-for="Visibility" type="radio" class="radio-controls__radio" name="visibility" value="false" />
                        <div class="radio-controls__label-group">
                            <label asp-validation-for="Visibility" class="radio-controls__label">Private </label>
                            <span>Only you can access this Bank Account</span>
                        </div>
                    </div>
                </fieldset>
            </div>

        </fieldset>

        <footer class="accounts__modify-footer popup__footer">
            <button type="button" class="accounts__button_delete button button_cancel popup__show-delete-button">Delete</button>
            <input asp-controller="Home" asp-action="CreateBankAccount" type="submit" class="accounts__button_update button" value="Submit" />
            <button type="button" class="accounts__button_cancel button button_cancel overlay__cancel">Cancel</button>
        </footer>

    </section>
</form>

