.accounts__item-bank {
    flex-grow: 1;
    flex-basis: 30.32%;
    padding-left: 13px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    font-size: 14px;
}
