@section styles {
    <link href="~/desktop.blocks/deposit/deposit.css" rel="stylesheet" type="text/css" />
    <script src="~/common.blocks/form-group/form-group__input_date.js" async defer></script>
    <script src="~/desktop.blocks/deposit/deposit.js" async defer></script>
}

@{
    var date = "April 11, 2024";
}

<main class="main deposit">
        <form class="deposit__form">
            <div class="deposit__toolbar">
                <input class="deposit__toolbar-button button" type="submit" value="Deposit" />
                <a class="deposit__toolbar-button deposit__toolbar-button_cancel button button_cancel button_link">Cancel</a>
            </div>

            <div class="deposit__notice deposit__notice_cash">
                <div class="deposit__notice-validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields.</div>
                <div class="deposit__notice-deposit-type">You are about to deposit <strong>Cash</strong> on @date</div>
            </div>

            <fieldset class="deposit__control radio-controls">
                <div class="deposit__control-group radio-controls__group">
                    <input class="deposit__control-radio deposit__control-radio_cash radio-controls__radio" name="deposit-type" type="radio" value="cash" checked />
                    <label class="deposit__control-label radio-controls__label">Cash Deposit</label>
                </div>

                <div class="deposit__control-group radio-controls__group">
                    <input class="deposit__control-radio deposit__control-radio_cheque radio-controls__radio" name="deposit-type" type="radio" value="check" />
                    <label class="deposit__control-label radio-controls__label">Check Deposit</label>
                </div>
            </fieldset>

            <fieldset class="deposit__form-container deposit__form-container_cash">
                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Reference Number</label>
                    <input class="deposit__form-input form-group__input" placeholder="1" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label">Cash Deposit Date</label>
                    <input class="deposit__form-input form-group__input form-group__input_date" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Cash Amount</label>
                    <input class="deposit__form-input form-group__input" placeholder="0.00" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Note</label>
                    <textarea class="deposit__form-input form-group__input" placeholder="Add Note"></textarea>
                </div>
            </fieldset>

            
            <fieldset class="deposit__form-container deposit__form-container_cheque">
                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Reference Number</label>
                    <input class="deposit__form-input form-group__input" placeholder="1" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label">Check Deposit Date</label>
                    <input class="deposit__form-input form-group__input form-group__input_date" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Check Bank Name</label>
                    <input class="deposit__form-input form-group__input" placeholder="LANDBANK" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Check Number</label>
                    <input class="deposit__form-input form-group__input" placeholder="1234567890" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Payor (Company/Supplier/Customer Name)</label>
                    <input class="deposit__form-input form-group__input" placeholder="Office of the Vice President" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Check Amount</label>
                    <input class="deposit__form-input form-group__input" placeholder="0.00" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Note</label>
                    <input class="deposit__form-input form-group__input" placeholder="Add Note" />
                </div>

            </fieldset>

        </form>
</main>