@section styles {
    <link href="~/desktop.blocks/deposit/deposit.css" rel="stylesheet" type="text/css" />
    <script src="~/common.blocks/form-group/form-group__input_date.js" async defer></script>
}

<main class="main">

    <div class="deposit">
        <form class="deposit__form">
            <div class="deposit__toolbar">
                <input class="deposit__toolbar-button button" type="submit" value="Deposit" />
                <button class="deposit__toolbar-button deposit__toolbar-button_cancel button button_cancel">Cancel</button>
            </div>

            <div class="deposit__notice">
                <div class="deposit__notice-validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields.</div>
                <div class="deposit__notice-deposit-type">You are about to deposit <strong>Cash</strong> on April 11, 2024</div>
            </div>

            <fieldset class="deposit__control">
                <div class="deposit__control-group">
                    <input class="deposit__control-radio" name="deposit-type" type="radio" value="cash" checked />
                    <label class="deposit__control-label">Cash Deposit</label>
                </div>

                <div class="deposit__control-group">
                    <input class="deposit__control-radio" name="deposit-type" type="radio" value="check" />
                    <label class="deposit__control-label">Check Deposit</label>
                </div>
            </fieldset>

            <div class="deposit__form-container">

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label form-group__label_error">Placeholder</label>
                    <input class="deposit__form-input form-group__input" placeholder="Placeholder" />
                </div>

                <div class="deposit__form-group form-group">
                    <label class="deposit__form-label form-group__label">Placeholder</label>
                    <input class="deposit__form-input form-group__input form-group__input_date" type="date" data-date="" data-date-format="MMMM DD YYYY" value="2015-08-09">
                </div>

            </div>




        </form>
    </div>


</main>

