@section styles {
    <link href="~/desktop.blocks/accounts/accounts.css" rel="stylesheet" type="text/css" />
}

<main class="main accounts">

        <section class="accounts__toolbar">
            <a href="/" class="accounts__add-accounts button button_link">
                Add Bank Account
            </a>

            <search class="accounts__search">

                <form class="accounts__search-form">
                    <button class="accounts__search-button">
                        <img class="accounts__search-icon" src="~/desktop.blocks/accounts/__search/search.png" />
                    </button>
                    <input class="accounts__search-input" name="" id="" placeholder="Search">
                </form>

                <select class="accounts__search-filter">
                    <option value="All">Any Bank</option>
                    <option value="RCBC"> RCBC</option>
                    <option value="Land-Bank"> Land Bank </option>
                    <option value="BDO"> BDO </option>
                    <option value="BPI"> BPI </option>
                    <option value="Metrobank"> Metrobank </option>
                    <option value="Unionbank"> Unionbank </option>
                    <option value="Security Bank"> Security Bank </option>
                    <option value="PNB"> PNB </option>
                    <option value="China Bank"> China Bank </option>
                    <option value="Eastwest Bank"> Eastwest Bank </option>
                    <option value="PS Bank"> PS Bank </option>
                    <option value="Maybank"> Maybank </option>
                    <option value="UCPB"> UCPB </option>
                    <option value="DBP"> DBP </option>
                    <option value="HSBC"> HSBC </option>
                </select>
            </search>
        </section>

        <section class="accounts__table table">

            <header class="accounts__header table__header">
                <div class="accounts__header-bank table__header-title">
                    <button class="accounts__header-button table__header-button">
                        Bank
                    </button>
                </div>

                <div class="accounts__header-account table__header-title">
                    <button class="accounts__header-button table__header-button">Account Number</button>
                </div>

                <div class="accounts__header-payor table__header-title">
                    <button class="accounts__header-button table__header-button">Payor</button>
                </div>

                <div class="accounts__header-balance table__header-title">
                    <button class="accounts__header-button table__header-button">Working Balance</button>
                </div>
            </header>

            <div class="accounts__table-container table__item-container">
                @for (int i = 0; i < 20; i++)
                {
                    <div class="accounts__item table__item">
                        <div class="accounts__item-bank table__item-field">POGO</div>
                        <div class="accounts__item-account table__item-field">123456789</div>
                        <div class="accounts__item-payor table__item-field">Alice Gou</div>
                        <div class="accounts__item-balance table__item-field table__item-field_controller">

                            <div class="table__item-field-label">123,456.78</div>

                            <div class="accounts__item-controls table__item-controls">
                                <button class="accounts__item-button accounts__item-button_edit table__item-button">
                                    <img class="accounts__item-icon table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                                </button>

                                <button class="accounts__item-button accounts__item-button_delete table__item-button">
                                    <img class="accounts__item-icon table__item-icon" src="~/common.blocks/table/__item/delete-icon.png" />
                                </button>

                            </div>

                        </div>
                    </div>
                }



            </div>
        </section>




</main>