@section styles {
    <link href="~/css/accounts/accounts.css" rel="stylesheet" type="text/css" />
}

<main class="main">
    <div class="accounts">

        <div class="accounts__toolbar">
            <a class="accounts__add-accounts">
                Add Bank Account
            </a>

            <search class="accounts__search">

                <form class="accounts__search-form">
                    <button class="accounts__search-button">
                        <img class="accounts__search-icon" src="~/css/accounts/__search/search.png" />
                    </button>
                    <input class="accounts__search-input" name="" id="" placeholder="Search">
                </form>
                <select class="accounts__search-filter">
                    <option value="All">Any Bank</option>
                    <option value="RCBC"> RCBC</option>
                    <option value="Land-Bank"> Land Bank </option>
                    <option value="BDO"> BDO </option>
                    <option value="BPI"> BPI </option>
                    <option value="Metrobank"> Metrobank </option>
                    <option value="Unionbank"> Unionbank </option>
                    <option value="Security Bank"> Security Bank </option>
                    <option value="PNB"> PNB </option>
                    <option value="China Bank"> China Bank </option>
                    <option value="Eastwest Bank"> Eastwest Bank </option>
                    <option value="PS Bank"> PS Bank </option>
                    <option value="Maybank"> Maybank </option>
                    <option value="UCPB"> UCPB </option>
                    <option value="DBP"> DBP </option>
                    <option value="HSBC"> HSBC </option>
                </select>
            </search>
        </div>



        <div class="accounts__table">

            <header class="accounts__header">
                <div class="accounts__header-bank">
                    <button class="accounts__header-button accounts__header-icon">
                        Bank
                    </button>
                </div>

                <div class="accounts__header-account">
                    <button class="accounts__header-button accounts__header-icon">Account Number</button>
                </div>

                <div class="accounts__header-payor">
                    <button class="accounts__header-button accounts__header-icon">Payor</button>
                </div>

                <div class="accounts__header-balance">
                    <button class="accounts__header-button accounts__header-icon">Working Balance</button>
                </div>
            </header>

            <div class="accounts__content">
                @for (int i = 0; i < 20; i++)
                {
                    <div class="accounts__item">
                        <div class="accounts__item-bank">POGO</div>
                        <div class="accounts__item-account">123456789</div>
                        <div class="accounts__item-payor">Alice Gou</div>
                        <div class="accounts__item-balance">
                            123,456.78
                            <div class="accounts__item-controls">
                                <button class="accounts__item-button accounts__item-button_edit">
                                    <img class="accounts__item-icon" src="~/css/accounts/__item/edit-icon.png" />
                                </button>

                                <button class="accounts__item-button accounts__item-button_delete">
                                    <img class="accounts__item-icon" src="~/css/accounts/__item/delete-icon.png" />
                                </button>

                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>

    </div>



</main>