@section styles {
    <link href="~/desktop.blocks/withdraw/withdraw.css" rel="stylesheet" type="text/css" />
}

<main class="main">

    <div class="withdraw">
        <form class="withdraw__form">
            <div class="withdraw__toolbar">
                <input class="withdraw__toolbar-button button" type="submit" value="Withdraw" />
                <button class="withdraw__toolbar-button withdraw__toolbar-button_cancel button button_cancel">Cancel</button>
            </div>

        </form>


    </div>


</main>