
.accounts__content {
    height: 55.5vh;
    width: 100%;
    background-color: #F0F8FF;
    overflow: auto;
}


.accounts__content::-webkit-scrollbar {
    width: 3px;
    z-index: -1;
}

.accounts__content::-webkit-scrollbar-thumb {
    background: #808080;
}
