.accounts__header-button {
    background: none;
    font-weight: 700;
    font-size: 14px;
    font-family: inherit;
    border: none;
    text-align: left;
    color: #434C52;

    padding: 0px 0px 0px 0px;
}
