/*
    
    
    ('authentication__fieldset.css');

    
    
    
    
    
    ('authentication__button.css');
@import url('authentication__change.css');
@import url('authentication__field-details.css');
@import url('authentication__input.css');
@import url('authentication__label.css');
@import url('authentication__logo.css');
@import url('authentication__header.css');
@import url('authentication__version.css');
@import url('authentication__header-container.css');
@import url('authentication__error.css');
@import url('authentication__error_active.css');
@import url('authentication__checkbox.css');*/


.authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 460px;
}


@media only screen and (orientation: landscape) and (max-height: 470px) {

    .authentication {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 460px;
        transform: scale(0.8);
    }
}
