
@media only screen and (orientation: portrait) and (max-width: 480px) {
    .transaction-toolbar__legend-item {
        font-size: 12px;
        font-weight: 300;
    }
}

@media only screen and (orientation: landscape) and (max-height: 470px) {
    .transaction-toolbar__legend-item {
        font-size: 10px;
        font-weight: 300;
    }
}