@supports (-moz-appearance:none) {
    .form-group__input_date {
        color: black;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .form-group__input_date {
        position: relative;
        padding: 0px 0px;
    }
}

.form-group__input_date:before {
    content: attr(data-date);
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    color: #1A203D;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-left: 12px;
    margin-top: 4px;
}

.form-group__input_date::-webkit-inner-spin-button, ::-webkit-datetime-edit {
    display: none;
}

.form-group__input_date::-webkit-calendar-picker-indicator {
    background-image: url(calendar-icon.png);
    width: 33px;
    height: 32px;
}


.form-group__input_date::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    opacity: 1;
    bottom: 0px;
    top: 0px;
}

