@media only screen and (orientation: portrait) and (max-width: 480px) {

    .accounts__search {
        width: 380px;
        height: 43px;
        display: flex;
        flex-direction: row;
        border: 1px solid #33429E;
        border-radius: 100px;
        background: white;
        justify-content: space-between;
    }
}
