.accounts__search-filter {
    appearance: none;
    background-image: url("filter-icon.png");
    background-size: 23px, 24px;
    background-position: 21px;
    background-repeat: no-repeat;
    height: 45px;
    width: 190px;
    border-radius: 100px;
    font-family: inherit;
    font-size: 16px;
    border-color: #33429E;
    text-indent: 55px;
    
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

@-moz-document url-prefix() {
    .accounts__search-filter {
        text-indent: 23px;
    }
}
