@import url('__add-accounts/accounts__add-accounts.css');

@import url('__header/accounts__header.css');
@import url('__header/accounts__header-account.css');
@import url('__header/accounts__header-balance.css');
@import url('__header/accounts__header-bank.css');
@import url('__header/accounts__header-button.css');
@import url('__header/accounts__header-payor.css');


@import url('__item/accounts__item.css');
@import url('__item/accounts__item-account.css');
@import url('__item/accounts__item-balance.css');
@import url('__item/accounts__item-bank.css');
@import url('__item/accounts__item-payor.css');

@import url('__search/accounts__search.css');
@import url('__search/accounts__search-input.css');
@import url('__search/accounts__search-icon.css');
@import url('__search/accounts__search-filter.css');
@import url('__search/accounts__search-button.css');
@import url('__search/accounts__search-form.css');
@import url('__search/accounts__search-option.css');

@import url('__table/accounts__table.css');
@import url('__toolbar/accounts__toolbar.css');
@import url('__table/accounts__table-container.css');



.accounts {
    height: 73vh;
    display: flex;
    flex-direction: column;
}