@import url('authentication/authentication__logo.css');
@import url('authentication/authentication__field.css');
@import url('authentication/authentication__field-details.css');
@import url('authentication/authentication__change.css');
@import url('authentication/authentication__label.css');
@import url('authentication/authentication__input.css');
@import url('authentication/authentication__button.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.authentication {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #D9DBDB;
    width: 450px;
    height: 355px;
    border: 1px solid #D9DBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
}
