.accounts__add-accounts {
    width: 365px;
    height: 43px;
    border-radius: 100px;
    font-family: inherit;
    font-weight: 700;
    color: white;
    background-color: #33429E;
    border: solid 0px;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}
