@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main {
    background-color: #E2EFFF;
    font-family: "Open Sans", sans-serif;
    margin: 0px 3% 0px 3%;

    flex-grow: 1;
}

